<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<nav>
    <h1>Weather App</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/city/london">London</a></li>
        <li><a href="/city/tokyo">Tokyo</a></li>
        <li><a href="/city/new%20york%20city">New York City</a></li>
        <li><a href="/city/berlin">Berlin</a></li>
        <li><a href="/city/beijing">Beijing</a></li>
        {% if not logged_in %}
        <li><a href="/login">Log In</a></li>
        <li><a href="/register">Register</a></li>
        {% else %}
        <li><a href="/logout">Log Out</a></li>
        {% endif %}
    </ul>
</nav>
<main>
    {% if logged_in %}
    <h1>Hello {{user_name}}!</h1>
    {% else %}
    <h1>You are not logged in!</h1>
    {% endif %}
</main>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>